<div class="nav" role="navigation">
  <ul>
    <li><a [routerLink]="['/index']" class="home">Home</a></li>
    <li><a [routerLink]="['/pricing','list']" class="list">Pricing List</a></li>
  </ul>
</div>

<div class="row">
  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <div id="persist-pricing" class="content scaffold-edit" role="main">
      <h1>{{create ? "Create" : "Edit"}} Pricing</h1>
      <ul class="errors" role="alert" *ngIf="errors">
        <li *ngFor="let error of errors">{{error.message}}</li>
      </ul>

      <form name="save{className}" (ngSubmit)="save()">
          <div class="form-group">
            <label for="discountPercent">Discount Percent
              <span class="required-indicator">*</span>
            </label>
            <input required="" name="discountPercent" id="discountPercent" [(ngModel)]="pricing.discountPercent" type="range" min="0" max="99"/>
          </div>
          <div class="form-group">
            <label for="price">Price
              <span class="required-indicator">*</span>
            </label>
            <input class="form-control" required="" name="price" id="price" [(ngModel)]="pricing.price" type="number" step="any"/>
          </div>
          <div class="form-group">
            <label for="pricePerMove">Price Per Move
              <span class="required-indicator">*</span>
            </label>
            <input class="form-control" required="" name="pricePerMove" id="pricePerMove" [(ngModel)]="pricing.pricePerMove" type="number" step="any"/>
          </div>
          <div class="form-group">
            <label for="minPrimeMover">Min Prime Mover</label>
            <input class="form-control" name="minPrimeMover" id="minPrimeMover" [(ngModel)]="pricing.minPrimeMover" type="number"/>
          </div>
          <div class="form-group">
            <label for="maxPrimeMover">Max Prime Mover</label>
            <input class="form-control" name="maxPrimeMover" id="maxPrimeMover" [(ngModel)]="pricing.maxPrimeMover" type="number"/>
          </div>
        <input type="submit" class="save btn btn-primary" [value]="create ? 'Save' : 'Update'"/>
      </form>
    </div>
  </div>

</div>



