<div class="nav" role="navigation">
    <ul>
        <li><a [routerLink]="['/index']" class="home">Home</a></li>
        <li><a [routerLink]="['/expense','create']" class="create">New Expense</a></li>
    </ul>
</div>
<div id="list-expense" class="content scaffold-list" role="main">
    <h1>Expense List</h1>
    <table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Job</th>
      <th>Items</th>
    </tr>
  </thead>
  <tbody>
    <tr [ngClass]="{'even': e, 'odd': !e}" *ngFor="let expense of expenseList; let e = even;">
      <td>
        <a [routerLink]="['/expense','show',expense.id]">{{expense.id}}</a>
      </td>
      <td>
        <a *ngIf="expense.job" [routerLink]="['/expense','show', expense.job.id]">{{expense.job.toString()}}</a>
      </td>
      <td>
        <ul>
          <li *ngFor="let expenseItem of expense.items">
            <a [routerLink]="['/expenseItem', 'show', expenseItem.id]">{{expenseItem.toString()}}</a>
          </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>
</div>