<div class="nav" role="navigation">
    <ul>
        <li><a [routerLink]="['/index']" class="home">Home</a></li>
        <li><a class="list" [routerLink]="['/expense', 'list']" class="list">Expense List</a></li>
        <li><a class="create" [routerLink]="['/expense', 'create']" class="create">New Expense</a></li>
    </ul>
</div>
<div id="show-part" class="content scaffold-show" role="main">
    <h1>Show Expense</h1>
    <ol class="property-list expense">
  <li class="fieldcontain">
    <span id="job-label" class="property-label">Job</span>
    <div class="property-value" aria-labelledby="job-label">
      <a *ngIf="expense.job" [routerLink]="['/expense','show', expense.job.id]">{{expense.job.toString()}}</a>
    </div>
  </li>
  <li class="fieldcontain">
    <span id="items-label" class="property-label">Items</span>
    <div class="property-value" aria-labelledby="items-label">
      <ul>
        <li *ngFor="let expenseItem of expense.items">
          <a [routerLink]="['/expenseItem', 'show', expenseItem.id]">{{expenseItem.toString()}}</a>
        </li>
      </ul>
    </div>
  </li>
</ol>

    <a class="edit" [routerLink]="['/expense', 'edit', expense.id]">Edit</a>
    <button type="button" (click)="destroy()">Delete</button>

</div>