<div class="nav" role="navigation">
  <ul>
    <li><a [routerLink]="['/index']" class="home">Home</a></li>
    <li><a [routerLink]="['/quote','list']" class="list">Quote List</a></li>
  </ul>
</div>

<div class="row">
  <div id="persist-quote" class="col-12 col-sm-6 col-md-6 col-lg-6" role="main">
    <h1>{{create ? "Create" : "Edit"}} Quote</h1>
    <ul class="errors" role="alert" *ngIf="errors">
      <li *ngFor="let error of errors">{{error.message}}</li>
    </ul>

    <form name="save{className}" (ngSubmit)="save()">
      <div class="form-group">
        <label for="haulierId">Haulier Id
          <span class="required-indicator">*</span>
        </label>
        <input class="form-control" required="" name="haulierId" id="haulierId" [(ngModel)]="quote.haulierId" type="text"/>
      </div>
      <div class="form-group">
        <label for="forwarderId">Forwarder Id
          <span class="required-indicator">*</span>
        </label>
        <input class="form-control" required="" name="forwarderId" id="forwarderId" [(ngModel)]="quote.forwarderId" type="text"/>
      </div>
      <div class="form-group">
        <label for="status">Status
          <span class="required-indicator">*</span>
        </label>
        <select class="form-control" required="" name="status" id="status" [(ngModel)]="quote.status">
          <option value="Accepted">Accepted</option>
          <option value="Pending Acceptance">Pending Acceptance</option>
        </select>
      </div>
      <div class="form-group">
        <label for="code">Code
          <span class="required-indicator">*</span>
        </label>
        <input class="form-control" required="" name="code" id="code" [(ngModel)]="quote.code" type="text"/>
      </div>
      <div class="form-group">
        <label for="terms">Terms
          <span class="required-indicator">*</span>
        </label>
        <select class="form-control" required="" name="terms" id="terms" [(ngModel)]="quote.terms" multiple="">
          <option *ngFor="let termAndCondition of termAndConditionList" [value]="termAndCondition.id"
                  [selected]="quote.terms?.id == termAndCondition.id">
            {{termAndCondition.toString()}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="items">Items
          <span class="required-indicator">*</span>
        </label>
        <select class="form-control" required="" name="items" id="items" [(ngModel)]="quote.items" multiple="">
          <option *ngFor="let quoteItem of quoteItemList" [value]="quoteItem.id"
                  [selected]="quote.items?.id == quoteItem.id">{{quoteItem.toString()}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="endDate">End Date
          <span class="required-indicator">*</span>
        </label>

        <div class="input-group">
          <input class="form-control" placeholder="yyyy-mm-dd" requiredname="endDate" id="endDate" type="date" placeholder="YYYY-MM-DD"
                 [value]="quote.endDate | date:'y-MM-dd'"
                 (change)="quote.endDate = $event.target.valueAsDate" ngbDatepicker #d="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
              <span class="oi oi-calendar"></span>
            </button>
          </div>
        </div>


      </div>
      <input type="submit" class="btn btn-primary save" [value]="create ? 'Save' : 'Update'"/>
    </form>
  </div>
</div>

