<div *ngIf="mode == 'verifyEmail'" class="row">
  <div class="col-12 col-sm-4 col-md-4 col-lg-4">
    {{message}}
  </div>
</div>

<div *ngIf="mode == 'resetPassword'" class="row">
  <div class="col-12 col-sm-4 col-md-4 col-lg-4">
    <form [formGroup]="credentials" (ngSubmit)="resetPassword(credentials)">
      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" id="password" type="password" formControlName="password">
      </div>
      <div class="form-group">
        <label for="retypePassword">Retype Password</label>
        <input class="form-control" id="retypePassword" type="password" formControlName="retypePassword">
      </div>
      <button class="btn btn-primary" type="submit">Reset Password</button>
    </form>
  </div>
</div>
