

<div class="row">


  <img class="consignment-note-company-image" src="{{haulierInfo.company.companyImgUrl}}" />
  <p>{{haulierInfo.company.code}}</p>

  <p>{{haulierInfo.company.address1}}</p>

  <p>{{haulierInfo.company.address2}}</p>

  <p>{{haulierInfo.company.city}}</p>
  <p>{{haulierInfo.company.state}}</p>

  <p>{{haulierInfo.company.country}}</p>



</div>
<h1>CONSIGNMENT NOTE</h1>
<div class="row">


  <div class="form-group">
    <label class="consignment-note-label">Job No.</label>
    <p></p>
  </div>


  <div class="form-group">
    <p>RFT/ROT No.</p>

    <p>{{consignment.transportRequest.id}}</p>

  </div>

  <div class="form-group">
    <p>Date</p>
    <p></p>
  </div>

</div>

<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Consignment Details</h3>
    </div>
    <div class="panel-body">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="form-group">
          <label class="consignment-note-label">Pickup Location</label>
          <p>Test Pickup Location (should be a port)</p>
        </div>

        <div class="form-group">
          <label class="consignment-note-label">Drop Address</label>
          <p></p>
        </div>

        <div class="form-group">
          <label class="consignment-note-label">Container No. </label>
          <p>{{consignment.containerNo}}</p>
        </div>

        <div class="form-group">
          <label>Code</label>
          <p>{{consignment.consignmentCode}}</p>
        </div>

        <div class="form-group">
          <label class="consignment-note-label">Name</label>
          <p>{{consignment.name}}</p>
        </div>

        <div class="form-group">
          <label class="consignment-note-label">Size</label>
          <p>{{consignment.size}}</p>
        </div>

        <div class="form-group">
          <label class="consignment-note-label">Booking Number</label>
          <p>Test booking number</p>
        </div>

        <div class="form-group">
          <label class="consignment-note-label">Shipping Agent</label>

          <p>{{consignment.transportRequest.shippingAgent}}</p>
        </div>

        <div class="form-group">
          <label class="consignment-note-label">Operator Code</label>

          <p>{{consignment.transportRequest.operatorCode}}</p>
        </div>


        <div class="form-group">
          <label class="consignment-note-label">Vessel & Voyage No</label>

          <p>Test Sino Bridge</p>
        </div>

        <div class="form-group">
          <label class="consignment-note-label">ETA</p>
          <p></p>
        </div>

        <div class="form-group">
          <label class="consignment-note-label">MT Laden Back</label>

          <p>Test KMT</p>
        </div>

        <div class="form-group">
          <label class="consignment-note-label">POL/POD</label>

          <p></p>
        </div>

        <div class="form-group">
          <label class="consignment-note-label">Shipper Consignee</label>

          <p>{{consignment.transportRequest.shipper}}</p>
        </div>

        <div class="form-group">
          <label class="consignment-note-label">Job Type</label>

          <p>{{consignment.taskType}}</p>
        </div>

        <div class="form-group">
          <label class="consignment-note-label">Seal Number</label>

          <p>Test Seal Number</p>
        </div>

        <div class="form-group">
          <label class="consignment-note-label">Forwarding Agent</label>

          <p>Suria Pantas</p>
        </div>

      </div>


      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Panel title</h3>
          </div>
          <div class="panel-body">
            Panel body
          </div>
        </div>

        <div class="form-group">
          <label class="consignment-note-label">Required Date</>

          <p></p>
        </div>


        <div class="form-group">
          <label class="consignment-note-label">Time</label>

          <p></p>
        </div>

        <div class="form-group">
          <label class="consignment-note-label">Opening Date</label>

          <p></p>
        </div>

        <div class="form-group">
          <label class="consignment-note-label">Closing Date</label>

          <p></p>
        </div>
        <div class="form-group">
          <label class="consignment-note-label">Time</label>

          <p></p>
        </div>

        <div class="form-group">
          <label class="consignment-note-label">Bill To:</label>

          <p>Render this using the forwarder id from RFT</p>
        </div>


        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

        </div>

      </div>
    </div>
  </div>


</div>

<div class="row">
  <div class="panel panel-default">

    <div class="panel-heading">
      <h3 class="panel-title">Panel title</h3>
    </div>

    <div class="panel-body">

      <div class="form-group">
        <p>Prime Mover</p>
        <p></p>
      </div>

      <div class="form-group">
        <p>Trailer No.</p>
        <p></p>
      </div>

      <div class="form-group">
        <p>Driver Name</p>
        <p></p>
      </div>
      <div class="form-group">
        <p>Date & Time</p>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Status</h3>
    </div>

    <div class="panel-body">

      <div class="form-group">
        <p>Container</p>
        <p></p>
      </div>

      <div class="form-group">
        <p>Signature</p>

      </div>

      <div class="form-group">
        <p>Stamp</p>

      </div>

      <div class="form-group">
        <p>Name</p>
        <p></p>
      </div>
      <div class="form-group">
        <p>Date & Time</p>
        <p></p>
      </div>
    </div>
  </div>
</div>