<div class="row">

  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

    <h1>Quotation</h1>

    <p>Company</p>

    <p>{{forwarderInfo.company.name}}</p>

    <p>{{forwarderInfo.company.address1}}</p>

    <p>{{forwarderInfo.company.address2}}</p>

    <p>{{forwarderInfo.company.city}}</p>

    <p>{{forwarderInfo.company.state}}</p>

    <p>{{forwarderInfo.company.country}}</p>

    <br>

    <p>Attention</p>


    <p>{{forwarderInfo.name}}</p>

    <br>

    <p>Date</p>

    <p>Date created or updated</p>

    <p>From</p>

    <p>{{haulierInfo.name}}</p>

    <h2>Quotation for Haulage Services to Various Destinations</h2>

    <p>We are glad to be given this opportunity to quote your esteemed company for our services</p>

    <h2>Terms and Conditions</h2>


    <div *ngFor="let term of quote.terms">
      <p>{{term.desc}}</p>
    </div>


    <p>We sincerely hope that our rate proposal will meet your requirement.</p>

    <p>If you have any inquiries in regards to the rates or any of our services, please do not hesitate to give us a call or drop a mail to be undersigned.</p>

    <p>Thank you.</p>



    <p>Best regards from</p>

    <p>{{haulierInfo.name}}</p>
    <p>{{haulierInfo.company.address1}}</p>
    <p>{{haulierInfo.company.address2}}</p>
    <p>{{haulierInfo.company.city}}</p>
    <p>{{haulierInfo.company.state}}</p>
    <p>{{haulierInfo.company.country}}</p>


    <p>Mobile: {{haulierInfo.company.officePhone}}</p>
    <p>Email: {{haulierInfo.company.}}</p>

  </div>

</div>


<button>Print Quotation</button>