<form>
  <input type="text" formControlName="name">

  <!-- -->

  <input formControlName="companyName">

  <input formControlName="companyregNo">

  <input formControlName="companyAddress1">

  <input formControlName="companyAddress2">


  <input formControlName="companyOfficePhone">

  <input formControlName="companyYardPhone">

  <input formControlName="companyCode">

  <!-- company logo either an image or pure file-->
  <input type="image" placeholder="Upload company logo">

  <button type="submit">Save</button>
</form>