<form [formGroup]="personalDetails" (ngSubmit)="submitDetails(personalDetails)">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Create Your Haulier Profile</h2>
    </div>
    <div class="modal-body">
      <ul class="errors text-danger" role="alert" *ngIf="errors">
        <li *ngFor="let error of errors">{{error.message}}</li>
      </ul>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-6">
          <!--<div class="radio">-->
            <!--<label><input type="radio" name="usertype" formControlName="usertype" checked value="Admin">Haulier</label>-->
          <!--</div>-->
          <!--<div class="radio">-->
            <!--<label><input type="radio" name="usertype" formControlName="usertype" value="Manager">Forwarder</label>-->
          <!--</div>-->

          <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" id="name" formControlName="name">
          </div>

          <div class="form-group">
            <label for="companyName">Company name</label>
            <input class="form-control" type="text" id="companyName" formControlName="companyName">
          </div>
          <div class="form-group">
            <label for="companyRegNo">Company registration number</label>
            <input class="form-control" type="text" id="companyRegNo" formControlName="companyRegNo">
          </div>
          <div class="form-group">
            <label for="companyAddress1">Company address 1</label>
            <input class="form-control" type="text" id="companyAddress1" formControlName="companyAddress1">
          </div>
          <div class="form-group">
            <label for="companyAddress2">Company address 2</label>
            <input class="form-control" type="text" id="companyAddress2" formControlName="companyAddress2">
          </div>
          <div class="form-group">
            <label for="companyCode">Company code</label>
            <input type="text" class="form-control" id="companyCode" formControlName="companyCode">
          </div>

          <div class="form-group">
            <label for="companyOfficePhone">Office phone</label>
            <input type="text" class="form-control" id="companyOfficePhone" formControlName="companyOfficePhone">
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <div class="form-group">
            <label for="companyYardPhone">Yard phone</label>
            <input type="text" class="form-control" id="companyYardPhone" formControlName="companyYardPhone">
          </div>

          <div class="form-group">
            <label for="companyImage">Company Image</label>
            <input type="file" class="form-control" id="companyImage" formControlName="companyImage" (change)="changeListener($event)">
          </div>

          <div class="form-group">
            <label for="companyCity">City</label>
            <input class="form-control" type="text" id="companyCity" formControlName="companyCity">
          </div>

          <div class="form-group">
            <label for="companyPostalCode">Postal Code</label>
            <input class="form-control" type="text" id="companyPostalCode" formControlName="companyPostalCode">
          </div>

          <div class="form-group">
            <label>State</label>
            <select class="form-control" name="state" id="companyState" formControlName="companyState">
              <option value="Johor">Johor</option>
              <option value="Kedah">Kedah</option>
              <option value="Kelantan">Kelantan</option>
              <option value="Kuala Lumpur">Kuala Lumpur</option>
              <option value="Negeri Sembilan">Negeri Sembilan</option>
              <option value="Pahang">Pahang</option>
              <option value="Melaka">Melaka</option>
              <option value="Perak">Perak</option>
              <option value="Perlis">Perlis</option>
              <option value="Pulau Pinang">Pulau Pinang</option>
              <option value="Sabah">Sabah</option>
              <option value="Sarawak">Sarawak</option>
              <option value="Selangor">Selangor</option>
              <option value="Terengganu">Terengganu</option>
              <option value="Wilayah Persekutuan – Labuan">Wilayah Persekutuan – Labuan</option>
            </select>
          </div>

          <div class="form-group">
            <label>Country</label>
            <input class="form-control" type="text" readonly="readonly" value="Malaysia" id="companyCountry"
                   formControlName="companyCountry">
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <i class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i>
      <input type="submit" class="btn btn-primary" value="Submit">
    </div>
  </div>
</form>

