<form [formGroup]="personalDetails" (ngSubmit)="submitDetails(personalDetails)" autocomplete="off">
  <div class="modal-content">
    <div class="modal-header">
      <h2 *ngIf="!showSubscriptionSelections">Create Your Profile</h2>
      <h2 *ngIf="showSubscriptionSelections">Select Your Subscription</h2>
    </div>
    <div class="modal-body">
      <div class="row">
        <ul class="errors text-danger" role="alert" *ngIf="errors">
          <li *ngFor="let error of errors">{{error.message}}</li>
        </ul>

        <div *ngIf="!showSubscriptionSelections" class="col-12">
          <h3>Are you a Haulier or Forwarder?</h3>
          <div class="radio">
            <label><input type="radio" name="usertype" formControlName="usertype" checked value="Admin" (change)="onUserTypeChanged($event)">Haulier</label>
          </div>
          <div class="radio">
            <label><input type="radio" name="usertype" formControlName="usertype" value="Manager" (change)="onUserTypeChanged($event)">Forwarder</label>
          </div>

          <div class="form-group" [ngClass]="personalDetails.get('name').valid ? 'has_success' : 'has-danger'">
            <label for="name">Name</label>
            <input class="form-control" type="text" id="name" formControlName="name" [ngClass]="personalDetails.get('name').valid ? 'is-valid' : 'is-invalid'">
            <div *ngIf="personalDetails.get('name').hasError('required')" class="invalid-feedback">
              Required
            </div>
          </div>

          <!-- formgroup must have has-success and has-danger for feedback to work -->
          <div *ngIf="!newCompany" class="form-group" [ngClass]="isExistingCompanyNameValid ? 'has-success' : 'has-danger'">
            <label >Company
              <span class="required-indicator">*</span>
            </label>
            <div class="input-group mb-3">
              <input required type="text" class="form-control"
                     (selectItem)="selectedCompany($event)" [ngClass]="isExistingCompanyNameValid ? 'is-valid' : 'is-invalid'"
                     [ngbTypeahead]="isHaulier ? haulierCompanySearch : forwarderCompanySearch" />
              <div class="input-group-append">
                <button type="button" class="btn btn-primary" (click)="addCompany()">New Company</button>
              </div>
              <div *ngIf="isExistingCompanyNameValid" class="valid-feedback">
                Company found.
              </div>
              <div *ngIf="!isExistingCompanyNameValid" class="invalid-feedback">
                Company does not exist. New company?
              </div>
            </div>

          </div>
          <div *ngIf="newCompany" formGroupName="company">
            <h2>New company</h2>
            <div class="row">
              <div class="col">
                <div class="form-group ">
                  <label for="companyName">Company name</label>
                  <input class="form-control" type="text" id="companyName" formControlName="name">
                </div>
                <div class="form-group" [ngClass]="isCompanyRegNoValid ? 'has-success' : 'has-danger'">
                  <label for="companyRegNo">Company registration number</label>
                  <input class="form-control" type="text" name="companyRegNo" id="companyRegNo" formControlName="registrationNo" [ngClass]="isCompanyRegNoValid ? 'is-valid' : 'is-invalid'">
                  <div *ngIf="isCompanyRegNoValid" class="valid-feedback">
                    Company registration number is valid
                  </div>
                  <div *ngIf="!isCompanyRegNoValid" class="invalid-feedback">
                    Company registration number has been taken
                  </div>
                </div>

                <div class="form-group">
                  <label for="companyAddress1">Company address 1</label>
                  <input class="form-control" type="text" id="companyAddress1" formControlName="address1">
                  <div *ngIf="address1.hasError('required')" class="invalid-feedback">
                    Required
                  </div>
                </div>
                <div class="form-group">
                  <label for="companyAddress2">Company address 2</label>
                  <input class="form-control" type="text" id="companyAddress2" formControlName="address2">
                  <div *ngIf="address2.hasError('required')" class="invalid-feedback">
                    Required
                  </div>
                </div>
                <div class="form-group">
                  <label for="companyCode">Company code</label>
                  <input type="text" class="form-control" id="companyCode" formControlName="code">
                  <div *ngIf="code.hasError('required')" class="invalid-feedback">
                    Required
                  </div>
                </div>
                <div class="form-group">
                  <label for="companyOfficePhone">Office phone</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">+60</span>
                    </div>
                    <input type="text" class="form-control" id="companyOfficePhone" formControlName="officePhone">
                  </div>
                  <div>
                    Required
                  </div>
                  <div>
                    Invalid number, please check again
                  </div>
                </div>

                <div class="form-group">
                  <label for="companyYardPhone">Yard phone</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">+60</span>
                    </div>
                    <input type="text" class="form-control" id="companyYardPhone" formControlName="yardPhone">
                  </div>
                  <div *ngIf="city.invalid && (city.dirty || city.touched)" class="invalid-feedback">
                    <div *ngIf="city.hasError('required')">
                      Required
                    </div>
                    <div>
                      Invalid number, please check again
                    </div>
                  </div>
                </div>
              </div>

              <div class="col">
                <div class="form-group">
                  <label for="companyImage">Company Image</label>
                  <input type="file" class="form-control" id="companyImage" formControlName="companyImage"
                         (change)="changeListener($event)">
                </div>

                <div class="form-group">
                  <label for="companyCity">City</label>
                  <input class="form-control" type="text" id="companyCity" formControlName="city">
                  <div *ngIf="city.invalid && (city.dirty || city.touched)" class="text-danger">
                    <div *ngIf="city.hasError('required')" class="invalid-feedback">
                      Required
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label for="companyPostalCode">Postal Code</label>
                  <input class="form-control" type="text" id="companyPostalCode" formControlName="postalCode">
                  <div *ngIf="postalCode.invalid && (postalCode.dirty || postalCode.touched)" class="text-danger">
                    <div *ngIf="postalCode.hasError('required')" class="invalid-feedback">
                      Required
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label>State</label>
                  <select class="form-control" name="state" id="companyState" formControlName="state">
                    <option value="Johor">Johor</option>
                    <option value="Kedah">Kedah</option>
                    <option value="Kelantan">Kelantan</option>
                    <option value="Kuala Lumpur">Kuala Lumpur</option>
                    <option value="Negeri Sembilan">Negeri Sembilan</option>
                    <option value="Pahang">Pahang</option>
                    <option value="Melaka">Melaka</option>
                    <option value="Perak">Perak</option>
                    <option value="Perlis">Perlis</option>
                    <option value="Pulau Pinang">Pulau Pinang</option>
                    <option value="Sabah">Sabah</option>
                    <option value="Sarawak">Sarawak</option>
                    <option value="Selangor">Selangor</option>
                    <option value="Terengganu">Terengganu</option>
                    <option value="Wilayah Persekutuan – Labuan">Wilayah Persekutuan – Labuan</option>
                  </select>
                  <div *ngIf="state.hasError('required')" class="invalid-feedback">
                    Required
                  </div>
                </div>

                <div class="form-group">
                  <label for="companyCountry">Country</label>
                  <input class="form-control" type="text" readonly="readonly" value="Malaysia" id="companyCountry"
                         formControlName="country">
                </div>
              </div>
            </div>

            <div class="text-right">
              <button class="btn btn-primary" type="button" (click)="newCompany = false">Cancel</button>
              <button class="btn btn-primary" type="button" (click)="newCompany = false">Save</button>
            </div>
          </div>
        </div>

        <div *ngIf="showSuccessWindow" class="col-12">
          <p>{{successMessage}}</p>
        </div>
      </div>


    </div>
    <!-- show subscription plans when the user type is a haulier , otherwise hide it-->
    <div class="modal-body" *ngIf="showSubscriptionSelections">
      <div class="row">
        <div *ngFor="let pricing of pricingList" class="col">
          <div class="card mb-3">
            <h4 class="card-header">{{pricing.name}}</h4>
            <div class="card-body">
              <h6 class="card-subtitle text-muted">{{pricing.description}}</h6>
            </div>
            <!--<div class="card-body">-->
            <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
            <!--</div>-->
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Min Prime Movers : {{pricing.minPrimeMover}}</li>
              <li class="list-group-item">Max Prime Movers : {{pricing.maxPrimeMover}}</li>
              <li class="list-group-item">Price : {{pricing.price}}</li>
              <li class="list-group-item">Price per move : {{pricing.pricePerMove}}</li>
            </ul>
            <div class="card-footer text-muted">
              <input name="pricing" type="radio" [value]="pricing" formControlName="pricing">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" *ngIf="showSubscriptionSelections" class="btn btn-primary"
              (click)="showSubscriptions(false)">Previous
      </button>
      <button *ngIf="showNextButton" type="button" class="btn btn-primary" (click)="showSubscriptions(true)">Next</button>
      <i *ngIf="showSpinnerProgress" class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i>
      <input *ngIf="showSubmitButton" type="submit" class="btn btn-primary" value="Submit">
    </div>
  </div>
</form>

