<div class="row">

  <div class="col">
    <div class="card bg-light mb-3">
      <div class="card-header">RFT/ROT Received</div>
      <div class="card-body">
        <h4 class="card-title">Light card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card bg-light mb-3" >
      <div class="card-header">Total Consignments</div>
      <div class="card-body">
        <h4 class="card-title">Light card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card bg-light mb-3" >
      <div class="card-header">Scheduled Consignments</div>
      <div class="card-body">
        <h4 class="card-title">Light card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card bg-light mb-3" >
      <div class="card-header">Unscheduled Consignments</div>
      <div class="card-body">
        <h4 class="card-title">Light card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card bg-light mb-3" >
      <div class="card-header">Pending RFT/ROT</div>
      <div class="card-body">
        <h4 class="card-title">Light card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <agm-map
        [latitude]="lat"
        [longitude]="lng"
        [zoom]="zoom"
        [disableDefaultUI]="false"
        [zoomControl]="false"
        (mapClick)="mapClicked($event)">

      <agm-marker
          *ngFor="let m of markers; let i = index"
          (markerClick)="clickedMarker(m.label, i)"
          [latitude]="m.lat"
          [longitude]="m.lng"
          [label]="m.label"
          [markerDraggable]="m.draggable"
          (dragEnd)="markerDragEnd(m, $event)">

        <agm-info-window>
          <strong>InfoWindow content</strong>
        </agm-info-window>

      </agm-marker>

      <agm-circle [latitude]="lat + 0.3" [longitude]="lng"
                  [radius]="5000"
                  [fillColor]="'red'"
                  [circleDraggable]="true"
                  [editable]="true">
      </agm-circle>

    </agm-map>
  </div>
</div>
