

<div id="content" role="main">
  <section class="container colset-2-its">
    <h1 style="text-align:center;">Welcome to OMS</h1>
    <h3>RFT/ROT Received</h3>

    <h3>Total Consignments</h3>

    <h3>Scheduled Consignments</h3>

    <h3>Unscheduled Consignments</h3>

    <h3>Pending RFT/ROT</h3>


  </section>
</div>


<div class="row">

  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">

  </div>

  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">

  </div>

  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">

  </div>

  <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">

  </div>
</div>

<div class="row">
  <agm-map
      [latitude]="lat"
      [longitude]="lng"
      [zoom]="zoom"
      [disableDefaultUI]="false"
      [zoomControl]="false"
      (mapClick)="mapClicked($event)">

    <agm-marker
        *ngFor="let m of markers; let i = index"
        (markerClick)="clickedMarker(m.label, i)"
        [latitude]="m.lat"
        [longitude]="m.lng"
        [label]="m.label"
        [markerDraggable]="m.draggable"
        (dragEnd)="markerDragEnd(m, $event)">

      <agm-info-window>
        <strong>InfoWindow content</strong>
      </agm-info-window>

    </agm-marker>

    <agm-circle [latitude]="lat + 0.3" [longitude]="lng"
                [radius]="5000"
                [fillColor]="'red'"
                [circleDraggable]="true"
                [editable]="true">
    </agm-circle>

  </agm-map>
</div>
