<div role="navigation">
  <ul class="nav nav-pills">
    <li class="nav-item"><a [routerLink]="['/index']" class="home nav-link">Home</a></li>
    <li class="nav-item"><a [routerLink]="['/vehicle','list']" class="list nav-link">Vehicle List</a></li>
  </ul>
</div>

<div class="row">
  <div class="col-12 col-sm-4 col-md-4 col-lg-4">
    <div id="persist-vehicle" class="content scaffold-edit" role="main">
      <h1>{{create ? "Create" : "Edit"}} Vehicle</h1>
      <ul class="errors" role="alert" *ngIf="errors">
        <li *ngFor="let error of errors">{{error.message}}</li>
      </ul>

      <form name="save{className}" (ngSubmit)="save()">
        <div class="form-group">
          <label for="internalNumber">Internal Number
            <span class="required-indicator">*</span>
          </label>
          <input class="form-control" required="" name="internalNumber" id="internalNumber"
                 [(ngModel)]="vehicle.internalNumber" type="text"/>
        </div>
        <div class="form-group">
          <label for="registrationNumber">Registration Number
            <span class="required-indicator">*</span>
          </label>
          <input class="form-control" required="" name="registrationNumber" id="registrationNumber"
                 [(ngModel)]="vehicle.registrationNumber" type="text"/>
        </div>
        <div class="form-group">
          <label for="type">Type
            <span class="required-indicator">*</span>
          </label>
          <input class="form-control" required="" name="type" id="type" [(ngModel)]="vehicle.type" type="text"/>
        </div>
        <div class="form-group">
          <label for="otherInfo">Other Info</label>
          <input class="form-control" name="otherInfo" id="otherInfo" [(ngModel)]="vehicle.otherInfo" type="text"/>
        </div>
        <div class="form-group">
          <label for="roadTaxRenewalDate">Road Tax Renewal Date
            <span class="required-indicator">*</span>
          </label>
          <div class="input-group">
            <input class="form-control" required="" name="roadTaxRenewalDate" id="roadTaxRenewalDate" type="date"
                   placeholder="YYYY-MM-DD"
                   [value]="vehicle.roadTaxRenewalDate | date:'y-MM-dd'"
                   (change)="vehicle.roadTaxRenewalDate = $event.target.valueAsDate" ngbDatepicker
                   #roadTaxRenewalDate="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="roadTaxRenewalDate.toggle()" type="button">
                <span class="oi oi-calendar"></span>
              </button>
            </div>
          </div>

        </div>
        <div class="form-group">
          <label for="licenseExpiryDate">License Expiry Date
            <span class="required-indicator">*</span>
          </label>

          <div class="input-group">
            <input class="form-control" required="" name="licenseExpiryDate" id="licenseExpiryDate" type="date"
                   placeholder="YYYY-MM-DD"
                   [value]="vehicle.licenseExpiryDate | date:'y-MM-dd'"
                   (change)="vehicle.licenseExpiryDate = $event.target.valueAsDate" ngbDatepicker
                   #licenseExpiryDate="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="licenseExpiryDate.toggle()" type="button">
                <span class="oi oi-calendar"></span>
              </button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="puspakomExpiryDate">Puspakom Expiry Date
            <span class="required-indicator">*</span>
          </label>
          <div class="input-group">
            <input class="form-control" required="" name="puspakomExpiryDate" id="puspakomExpiryDate" type="date"
                   placeholder="YYYY-MM-DD"
                   [value]="vehicle.puspakomExpiryDate | date:'y-MM-dd'"
                   (change)="vehicle.puspakomExpiryDate = $event.target.valueAsDate" ngbDatepicker
                   #puspakomExpiryDate="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="puspakomExpiryDate.toggle()" type="button">
                <span class="oi oi-calendar"></span>
              </button>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="model">Model
            <span class="required-indicator">*</span>
          </label>
          <input class="form-control" required="" name="model" id="model" [(ngModel)]="vehicle.model" type="text"/>
        </div>
        <div class="form-group">
          <label for="licensePlateNumber">License Plate Number
            <span class="required-indicator">*</span>
          </label>
          <input class="form-control" required="" name="licensePlateNumber" id="licensePlateNumber"
                 [(ngModel)]="vehicle.licensePlateNumber" type="text"/>
        </div>
        <div class="form-group">
          <label for="netWeight">Net Weight
            <span class="required-indicator">*</span>
          </label>
          <input class="form-control" required="" name="netWeight" id="netWeight" [(ngModel)]="vehicle.netWeight"
                 type="number"/>
        </div>
        <div class="form-group">
          <label for="spadPermitExpiryDate">Spad Permit Expiry Date
            <span class="required-indicator">*</span>
          </label>
          <div class="input-group">
            <input class="form-control" required="" name="spadPermitExpiryDate" id="spadPermitExpiryDate" type="date"
                   placeholder="YYYY-MM-DD"
                   [value]="vehicle.spadPermitExpiryDate | date:'y-MM-dd'"
                   (change)="vehicle.spadPermitExpiryDate = $event.target.valueAsDate" ngbDatepicker
                   #spadPermitExpiryDate="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="spadPermitExpiryDate.toggle()" type="button">
                <span class="oi oi-calendar"></span>
              </button>
            </div>
          </div>

        </div>
        <div class="form-group">
          <label for="insuranceExpiryDate">Insurance Expiry Date
            <span class="required-indicator">*</span>
          </label>
          <div class="input-group">
            <input class="form-control" required="" name="insuranceExpiryDate" id="insuranceExpiryDate" type="date"
                   placeholder="YYYY-MM-DD"
                   [value]="vehicle.insuranceExpiryDate | date:'y-MM-dd'"
                   (change)="vehicle.insuranceExpiryDate = $event.target.valueAsDate" ngbDatepicker
                   #insuranceExpiryDate="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" (click)="insuranceExpiryDate.toggle()" type="button">
                <span class="oi oi-calendar"></span>
              </button>
            </div>
          </div>

        </div>
        <!-- need to switch to proper selectors, show list of drivers for haulier to select -->
        <div class="form-group">
          <label for="userId">User Id
            <span class="required-indicator">*</span>
          </label>
          <input class="form-control" required="" name="userId" id="userId" [(ngModel)]="vehicle.userId" type="text"/>
        </div>
        <input type="submit" class="save btn btn-primary" [value]="create ? 'Save' : 'Update'"/>
      </form>
    </div>
  </div>
</div>

