<div class="nav" role="navigation">
    <ul>
        <li><a [routerLink]="['/index']" class="home">Home</a></li>
        <li><a [routerLink]="['/vehicle','create']" class="create">New Vehicle</a></li>
    </ul>
</div>
<div id="list-vehicle" class="content scaffold-list" role="main">
    <h1>Vehicle List</h1>
    <table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Internal Number</th>
      <th>Registration Number</th>
      <th>Type</th>
      <th>Other Info</th>
      <th>Road Tax Renewal Date</th>
      <th>License Expiry Date</th>
    </tr>
  </thead>
  <tbody>
    <tr [ngClass]="{'even': e, 'odd': !e}" *ngFor="let vehicle of vehicleList; let e = even;">
      <td>
        <a [routerLink]="['/vehicle','show',vehicle.id]">{{vehicle.id}}</a>
      </td>
      <td>
        <span>{{vehicle.internalNumber}}</span>
      </td>
      <td>
        <span>{{vehicle.registrationNumber}}</span>
      </td>
      <td>
        <span>{{vehicle.type}}</span>
      </td>
      <td>
        <span>{{vehicle.otherInfo}}</span>
      </td>
      <td>
        <span>{{vehicle.roadTaxRenewalDate | date:'yyyy-MM-dd HH:mm:ss Z'}}</span>
      </td>
      <td>
        <span>{{vehicle.licenseExpiryDate | date:'yyyy-MM-dd HH:mm:ss Z'}}</span>
      </td>
    </tr>
  </tbody>
</table>
</div>