<div class="nav" role="navigation">
    <ul>
        <li><a [routerLink]="['/index']" class="home">Home</a></li>
        <li><a class="list" [routerLink]="['/customer', 'list']" class="list">Customer List</a></li>
        <li><a class="create" [routerLink]="['/customer', 'create']" class="create">New Customer</a></li>
    </ul>
</div>
<div id="show-part" class="content scaffold-show" role="main">
    <h1>Show Customer</h1>
    <ol class="property-list customer">
  <li class="fieldcontain">
    <span id="companyName-label" class="property-label">Company Name</span>
    <div class="property-value" aria-labelledby="companyName-label">
      <span>{{customer.companyName}}</span>
    </div>
  </li>
  <li class="fieldcontain">
    <span id="personInCharge-label" class="property-label">Person In Charge</span>
    <div class="property-value" aria-labelledby="personInCharge-label">
      <span>{{customer.personInCharge}}</span>
    </div>
  </li>
  <li class="fieldcontain">
    <span id="phone-label" class="property-label">Phone</span>
    <div class="property-value" aria-labelledby="phone-label">
      <span>{{customer.phone}}</span>
    </div>
  </li>
  <li class="fieldcontain">
    <span id="address1-label" class="property-label">Address1</span>
    <div class="property-value" aria-labelledby="address1-label">
      <span>{{customer.address1}}</span>
    </div>
  </li>
  <li class="fieldcontain">
    <span id="address2-label" class="property-label">Address2</span>
    <div class="property-value" aria-labelledby="address2-label">
      <span>{{customer.address2}}</span>
    </div>
  </li>
  <li class="fieldcontain">
    <span id="city-label" class="property-label">City</span>
    <div class="property-value" aria-labelledby="city-label">
      <span>{{customer.city}}</span>
    </div>
  </li>
  <li class="fieldcontain">
    <span id="state-label" class="property-label">State</span>
    <div class="property-value" aria-labelledby="state-label">
      <span>{{customer.state}}</span>
    </div>
  </li>
  <li class="fieldcontain">
    <span id="country-label" class="property-label">Country</span>
    <div class="property-value" aria-labelledby="country-label">
      <span>{{customer.country}}</span>
    </div>
  </li>
</ol>

    <a class="edit" [routerLink]="['/customer', 'edit', customer.id]">Edit</a>
    <button type="button" (click)="destroy()">Delete</button>

</div>