<div class="nav" role="navigation">
    <ul>
        <li><a [routerLink]="['/index']" class="home">Home</a></li>
        <li><a [routerLink]="['/customer','create']" class="create">New Customer</a></li>
    </ul>
</div>
<div id="list-customer" class="content scaffold-list" role="main">
    <h1>Customer List</h1>
    <table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Company Name</th>
      <th>Person In Charge</th>
      <th>Phone</th>
      <th>Address1</th>
      <th>Address2</th>
      <th>City</th>
    </tr>
  </thead>
  <tbody>
    <tr [ngClass]="{'even': e, 'odd': !e}" *ngFor="let customer of customerList; let e = even;">
      <td>
        <a [routerLink]="['/customer','show',customer.id]">{{customer.id}}</a>
      </td>
      <td>
        <span>{{customer.companyName}}</span>
      </td>
      <td>
        <span>{{customer.personInCharge}}</span>
      </td>
      <td>
        <span>{{customer.phone}}</span>
      </td>
      <td>
        <span>{{customer.address1}}</span>
      </td>
      <td>
        <span>{{customer.address2}}</span>
      </td>
      <td>
        <span>{{customer.city}}</span>
      </td>
    </tr>
  </tbody>
</table>
</div>