<div role="navigation">
  <ul class="nav nav-pills">
    <li class="nav-item"><a [routerLink]="['/index']" class="home nav-link">Home</a></li>
    <li class="nav-item"><a [routerLink]="['/permission','list']" class="list nav-link">Permission List</a></li>
  </ul>
</div>

<div class="row">

  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <div id="persist-permission" class="content scaffold-edit" role="main">
      <h1>{{create ? "Create" : "Edit"}} Permission</h1>
      <ul class="errors" role="alert" *ngIf="errors">
        <li *ngFor="let error of errors">{{error.message}}</li>
      </ul>

      <form name="save{className}" (ngSubmit)="save()">
        <div class="form-group">
          <label for="email">Email
            <span class="required-indicator">*</span>
          </label>
          <input class="form-control" required="" name="email" id="email" [(ngModel)]="permission.email" type="email"/>
        </div>
        <div class="form-group">
          <label for="userId">User Id (optional)
          </label>
          <input class="form-control" required="" name="userId" id="userId" [(ngModel)]="permission.userId"
                 type="text"/>
        </div>
        <div class="form-group">
          <label for="authority">Authority
            <span class="required-indicator">*</span>
          </label>
          <select class="form-control" required="" name="authority" id="authority" [(ngModel)]="permission.authority">
            <option value="Admin">Admin</option>
            <option value="Manager">Manager</option>
            <option *ngIf="permission.authority == 'Super Admin'" value="Super Admin">Super Admin</option>
            <option value="User">User</option>
          </select>
        </div>
        <input type="submit" class="save btn btn-primary" [value]="create ? 'Save' : 'Update'"/>
      </form>
    </div>
  </div>
</div>

