<div class="nav" role="navigation">
    <ul>
        <li><a [routerLink]="['/index']" class="home">Home</a></li>
        <li><a class="list" [routerLink]="['/permission', 'list']" class="list">Permission List</a></li>
        <li><a class="create" [routerLink]="['/permission', 'create']" class="create">New Permission</a></li>
    </ul>
</div>
<div id="show-part" class="content scaffold-show" role="main">
    <h1>Show Permission</h1>
    <ol class="property-list permission">
  <li class="fieldcontain">
    <span id="email-label" class="property-label">Email</span>
    <div class="property-value" aria-labelledby="email-label">
      <span>{{permission.email}}</span>
    </div>
  </li>
  <li class="fieldcontain">
    <span id="userId-label" class="property-label">User Id</span>
    <div class="property-value" aria-labelledby="userId-label">
      <span>{{permission.userId}}</span>
    </div>
  </li>
  <li class="fieldcontain">
    <span id="authority-label" class="property-label">Authority</span>
    <div class="property-value" aria-labelledby="authority-label">
      <span>{{permission.authority}}</span>
    </div>
  </li>
</ol>

    <a class="edit" [routerLink]="['/permission', 'edit', permission.id]">Edit</a>
    <button type="button" (click)="destroy()">Delete</button>

</div>