<div class="row">

  <div class="col-12 col-sm-4 col-md-4 col-lg-4">
    <form [formGroup]="credentials" (ngSubmit)="register(credentials)">
      <h1>Sign up</h1>
      <div class="form-group" [ngClass]="credentials.get('email').valid ? 'has-success' : 'has-danger'">
        <label for="email">Email</label>
        <input class="form-control" id="email" formControlName="email" *ngIf="email.valid ? 'is-valid' : 'is-invalid'"/>
        <div *ngIf="email.hasError('required')" class="invalid-feedback">
          Required
        </div>
      </div>
      <div class="form-group" [ngClass]="credentials.get('password').valid ? 'has-success' : 'has-danger'">
        <label for="password">Password</label>
        <input class="form-control" type="password" id="password" formControlName="password" *ngIf="password.valid ? 'is-valid' : 'is-invalid'"/>
        <div *ngIf="password.hasError('required')" class="invalid-feedback">
          Required
        </div>
        <div *ngIf="password.hasError('minlength')" class="invalid-feedback">
          Minimum length of password is 6 characters
        </div>
      </div>

      <div class="form-group">
        <label for="password2">Password Repeat</label>
        <input class="form-control" type="password" id="password2" formControlName="retypePassword"/>
        <div *ngIf="retypePassword.hasError('')">
          Password and retype must match
        </div>
      </div>
      <button
          class="btn btn-primary">
        Sign up
      </button>
    </form>
  </div>
</div>