<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li>
      <a routerLinkActive="active" routerLink="/location">Location</a>
    </li>
    <li>
      <a routerLinkActive="active" routerLink="/driverInfo">Drivers</a>
    </li>
    <li>
      <a routerLinkActive="active" routerLink="/haulierInfo">Hauliers</a>
    </li>

    <li>
      <a routerLinkActive="active" routerLink="/forwarderInfo">Forwarders</a>
    </li>

    <li>
      <a routerLinkActive="active" routerLink="/consignment">Consignment</a>
    </li>

    <li>
      <a routerLinkActive="active" routerLink="/transportRequest">RFT / ROT</a>
    </li>
    <li>
      <a routerLinkActive="active" routerLink="/pricing">Pricing</a>
    </li>

    <li>
      <a routerLinkActive="active" routerLink="/register">Register</a>
    </li>
    <li>
      <a routerLinkActive="active" routerLink="/login">Login</a>
    </li>
  </ul>
</div>
