<nav class="col-md-2 d-none d-md-block bg-light sidebar">
  <div class="sidebar-sticky">
    <ul class="nav flex-column" *ngIf="!userObject?.token">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/forget-password" routerLinkActive="active">Forget Password</a>
      </li>
    </ul>

    <ul class="nav flex-column" *ngIf="userObject?.token && permissions">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/index">Home</a>
      </li>
      <li class="nav-item" *ngIf="superAdminPermission || adminPermission">
        <a class="nav-link" routerLinkActive="active" routerLink="/permission">User Permissions</a>
      </li>
      <li class="nav-item" *ngIf="superAdminPermission">
        <a class="nav-link" routerLinkActive="active" routerLink="/location">Location</a>
      </li>
      <li class="nav-item" *ngIf="superAdminPermission">
        <a class="nav-link" routerLinkActive="active" routerLink="/transaction">Transaction</a>
      </li>
      <li class="nav-item" *ngIf="superAdminPermission">
        <a class="nav-link" routerLinkActive="active" routerLink="/company">Company</a>
      </li>
      <li class="nav-item" *ngIf="adminPermission || superAdminPermission">
        <a class="nav-link" routerLinkActive="active" routerLink="/driverInfo">Drivers</a>
      </li>
      <li class="nav-item" *ngIf="adminPermission || superAdminPermission">
        <a class="nav-link" routerLink="/job" routerLinkActive="active">Jobs</a>
      </li>
      <li class="nav-item" *ngIf="superAdminPermission">
        <a class="nav-link" routerLinkActive="active" routerLink="/userInfo">Users</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/haulierInfo">Hauliers</a>
      </li>
      <li class="nav-item" *ngIf="adminPermission || superAdminPermission">
        <a class="nav-link" routerLinkActive="active" routerLink="/forwarderInfo">Forwarders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/quote">Quotations</a>
      </li>
      <li class="nav-item" *ngIf="adminPermission || superAdminPermission">
        <a class="nav-link" routerLinkActive="active" routerLink="/consignment">Consignment</a>
      </li>
      <li class="nav-item" *ngIf="adminPermission || superAdminPermission">
        <a class="nav-link" routerLinkActive="active" routerLink="/vehicle">Vehicles</a>
      </li>
      <li class="nav-item" *ngIf="superAdminPermission">
        <a class="nav-link" routerLink="/tariff" routerLinkActive="active">Tariff</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/transportRequest">RFT / ROT</a>
      </li>
      <li class="nav-items">
        <a class="nav-link" routerLinkActive="active" routerLink="/expense">Tripsheet / Expense Tracking</a>
      </li>
      <li class="nav-item" *ngIf="superAdminPermission">
        <a class="nav-link" routerLinkActive="active" routerLink="/pricing">Pricing</a>
      </li>

    </ul>
    <ul class="nav flex-column" *ngIf="userObject?.token">
      <li class="nav-item">
        <a class="nav-link" (click)="logout()" href="#">Logout</a>
      </li>
    </ul>
  </div>
</nav>

