<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar" *ngIf="!token">
    <li>
      <a routerLinkActive="active" routerLink="/register">Register</a>
    </li>
    <li>
      <a routerLinkActive="active" routerLink="/login">Login</a>
    </li>
    <li>
      <a routerLink="/forget-password" routerLinkActive="active">Forget Password</a>
    </li>

  </ul>

  <ul class="nav nav-sidebar" *ngIf="token">
    <li>
      <a routerLinkActive="active" routerLink="/index">Home</a>
    </li>
    <li *ngIf="permission?.authority === 'Super Admin'">
      <a routerLinkActive="active" routerLink="/permission">User Permissions</a>
    </li>
    <li *ngIf="permission?.authority === 'Super Admin'">
      <a routerLinkActive="active" routerLink="/location">Location</a>
    </li>
    <li *ngIf="permission?.authority === 'Admin' || permission?.authority === 'Super Admin'">
      <a routerLinkActive="active" routerLink="/driverInfo">Drivers</a>
    </li>
    <li *ngIf="permission?.authority === 'Admin' || permission?.authority === 'Super Admin'">
      <a routerLink="/job" routerLinkActive="active">Jobs</a>
    </li>
    <li>
      <a routerLinkActive="active" routerLink="/haulierInfo">Hauliers</a>
    </li>
    <li>
      <a routerLinkActive="active" routerLink="/forwarderInfo">Forwarders</a>
    </li>
    <li>
      <a routerLinkActive="active" routerLink="/quotation">Quotations</a>
    </li>
    <li>
      <a routerLinkActive="active" routerLink="/consignment">Consignment</a>
    </li>
    <li>
      <a routerLinkActive="active" routerLink="/vehicle">Vehicles</a>
    </li>
    <li>
      <a routerLinkActive="active" routerLink="/transportRequest">RFT / ROT</a>
    </li>
    <li *ngIf="permission?.authority === 'Super Admin'">
      <a routerLinkActive="active" routerLink="/pricing">Pricing</a>
    </li>
    <li>
      <a (click)="logout()" href="#">Logout</a>
    </li>
  </ul>
</div>
