<div class="row">

  <div class="col-12 col-sm-4 col-md-4 col-lg-4">
    <h1>Login</h1>
    <form [formGroup]="credentials" (ngSubmit)="login(credentials)">
      <div>
        <div class="form-group" [ngClass]="credentials.get('email').valid ? 'has-success' : 'has-danger'">
          <label for="email">Login</label>
          <input class="form-control" id="email" required type="email" formControlName="email" [ngClass]="credentials.get('email').valid ? 'is-valid' : 'is-invalid'" />
          <div *ngIf="credentials.get('email').hasError('required')" class="invalid-feedback">
            Required
          </div>
          <div *ngIf="credentials.get('email').hasError('email')" class="invalid-feedback">
            Field must be a valid email
          </div>
        </div>
        <div class="form-group" [ngClass]="credentials.get('password').valid ? 'has-success' : 'has-danger'">
          <label for="password">Password</label>
          <input class="form-control" type="password" id="password" formControlName="password" [ngClass]="credentials.get('password').valid ? 'is-valid' : 'is-invalid'" />
          <div *ngIf="credentials.get('password').hasError('required')" class="invalid-feedback">
            Required
          </div>
          <div *ngIf="credentials.get('password').hasError('minlength')" class="invalid-feedback">
            Minimum password length is 6 characters
          </div>
        </div>
      </div>

      <button
          class="btn btn-primary" type="submit">
        Login
      </button>
      <a routerLink="/register" routerLinkActive="active">Sign up!</a>
      <a routerLink="/forget-password" routerLinkActive="active" class="text-right">Lost
        Password?</a>
    </form>
  </div>
</div>

