<div class="page-content">

  <form [formGroup]="credentials" (ngSubmit)="changePassword(credentials)">

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="password" id="password" formControlName="password">
      <label class="mdl-textfield__label" for="password">Password</label>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
      <input class="mdl-textfield__input" type="password" id="confirmPassword" formControlName="confirmPassword">
      <label class="mdl-textfield__label" for="confirmPassword">Retype Password</label>
    </div>

    <button type="submit">Change Password</button>
  </form>

</div>