<div class="nav" role="navigation">
  <ul>
    <li><a [routerLink]="['/index']" class="home">Home</a></li>
    <li><a [routerLink]="['/location','list']" class="list">Location List</a></li>
  </ul>
</div>

<div class="page-content">








  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--4-col">
      <!-- contents go here -->
    </div>
    <div class="mdl-cell mdl-cell--4-col">
      <!-- contents go here -->
    </div>
    <div class="mdl-cell mdl-cell--4-col">
      <!-- contents go here -->

    </div>
  </div>
</div>


<div id="persist-location" class="content scaffold-edit" role="main">
  <h1>{{create ? "Create" : "Edit"}} Location</h1>
  <ul class="errors" role="alert" *ngIf="errors">
    <li *ngFor="let error of errors">{{error.message}}</li>
  </ul>

  <form name="save{className}" (ngSubmit)="save()">
    <fieldset class="form">
      <fieldset class="form">
        <div class="fieldcontain required mdl-textfield mdl-js-textfield">
          <label for="name">Name
            <span class="required-indicator">*</span>
          </label>
          <input class="mdl-textfield__input" required="" name="name" id="name" [(ngModel)]="location.name" type="text"/>
        </div>
        <div class="fieldcontain required mdl-textfield mdl-js-textfield">
          <label for="address1">Address1
            <span class="required-indicator">*</span>
          </label>
          <input class="mdl-textfield__input" required="" name="address1" id="address1" [(ngModel)]="location.address1" type="text"/>
        </div>
        <div class="fieldcontain required mdl-textfield mdl-js-textfield">
          <label for="address2">Address2
            <span class="required-indicator">*</span>
          </label>
          <input class="mdl-textfield__input" required="" name="address2" id="address2" [(ngModel)]="location.address2" type="text"/>
        </div>
        <div class="fieldcontain required mdl-textfield mdl-js-textfield">
          <label for="city">City
            <span class="required-indicator">*</span>
          </label>
          <input class="mdl-textfield__input" required="" name="city" id="city" [(ngModel)]="location.city" type="text"/>
        </div>
          <!-- Simple Select -->
          <div class="fieldcontain required mdl-textfield mdl-js-textfield mdl-textfield--floating-label getmdl-select getmdl-select__fullwidth">
            <label for="state">State
              <span class="required-indicator">*</span>
            </label>
            <input class="mdl-textfield__input" name="state" id="state" [(ngModel)]="location.state" type="text" readonly tabindex="-1">
            <ul for="state" class="mdl-menu mdl-menu--bottom-left mdl-js-menu">
              <li class="mdl-menu__item" value="Johor">Johor</li>
              <li class="mdl-menu__item" value="Kedah">Kedah</li>
              <li class="mdl-menu__item" value="Kelantan">Kelantan</li>
              <li class="mdl-menu__item" value="Kuala Lumpur">Kuala Lumpur</li>
              <li class="mdl-menu__item" value="Melaka">Melaka</li>
              <li class="mdl-menu__item" value="Negeri Sembilan">Negeri Sembilan</li>
              <li class="mdl-menu__item" value="Pahang">Pahang</li>
              <li class="mdl-menu__item" value="Perak">Perak</li>
              <li class="mdl-menu__item" value="Perlis">Perlis</li>
              <li class="mdl-menu__item" value="Pulau Pinang">Pulau Pinang</li>
              <li class="mdl-menu__item" value="Sabah">Sabah</li>
              <li class="mdl-menu__item" value="Sarawak">Sarawak</li>
              <li class="mdl-menu__item" value="Selangor">Selangor</li>
              <li class="mdl-menu__item" value="Terengganu">Terengganu</li>
              <li class="mdl-menu__item" value="Wilayah Persekutuan – Labuan">Wilayah Persekutuan – Labuan</li>
            </ul>
          </div>
          <!--<input class="mdl-textfield__input" required="" name="state" id="state" [(ngModel)]="location.state" type="text"/>-->



        <div class="fieldcontain required mdl-textfield mdl-js-textfield">
          <label for="country">Country
            <span class="required-indicator">*</span>
          </label>
          <input class="mdl-textfield__input" required="" name="country" id="country" [(ngModel)]="location.country" type="text"/>
        </div>
        <div class="fieldcontain required mdl-textfield mdl-js-textfield">
          <label for="lat">Lat
            <span class="required-indicator">*</span>
          </label>
          <input class="mdl-textfield__input" required="" name="lat" id="lat" [(ngModel)]="location.lat" type="number" step="any"/>
        </div>
        <div class="fieldcontain required mdl-textfield mdl-js-textfield">
          <label for="lng">Lng
            <span class="required-indicator">*</span>
          </label>
          <input class="mdl-textfield__input" required="" name="lng" id="lng" [(ngModel)]="location.lng" type="number" step="any"/>
        </div>
        <div class="fieldcontain required mdl-textfield mdl-js-textfield">
          <label for="type">Type
            <span class="required-indicator">*</span>
          </label>
          <input class="mdl-textfield__input" required="" name="type" id="type" [(ngModel)]="location.type" type="text"/>
        </div>
      </fieldset>
    </fieldset>
    <fieldset class="buttons">
      <input  type="submit" class="mdl-color-text--white mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" [value]="create ? 'Save' : 'Update'"/>
    </fieldset>
  </form>
</div>