<div class="nav" role="navigation">
    <ul>
        <li><a [routerLink]="['/index']" class="home">Home</a></li>
        <li><a [routerLink]="['/location','create']" class="create">New Location</a></li>
    </ul>
</div>
<div id="list-location" class="content scaffold-list" role="main">
    <h1>Location List</h1>
    <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Address1</th>
      <th>Address2</th>
      <th>City</th>
      <th>State</th>
      <th>Country</th>
    </tr>
  </thead>
  <tbody>
    <tr [ngClass]="{'even': e, 'odd': !e}" *ngFor="let location of locationList; let e = even;">
      <td>
        <a [routerLink]="['/location','show',location.id]">{{location.id}}</a>
      </td>
      <td>
        <span>{{location.name}}</span>
      </td>
      <td>
        <span>{{location.address1}}</span>
      </td>
      <td>
        <span>{{location.address2}}</span>
      </td>
      <td>
        <span>{{location.city}}</span>
      </td>
      <td>
        <span>{{location.state}}</span>
      </td>
      <td>
        <span>{{location.country}}</span>
      </td>
    </tr>
  </tbody>
</table>
</div>