<div class="nav" role="navigation">
  <ul>
    <li><a [routerLink]="['/index']" class="home">Home</a></li>
    <li><a [routerLink]="['/company','list']" class="list">Company List</a></li>
  </ul>
</div>

<div class="page-content">

  <div class="mdl-grid">




    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--4-col">
        <!-- contents go here -->
      </div>
      <div class="mdl-cell mdl-cell--4-col">
        <!-- contents go here -->
      </div>
      <div class="mdl-cell mdl-cell--4-col">
        <!-- contents go here -->

      </div>
    </div>

  </div>


</div>


<div id="persist-company" class="content scaffold-edit" role="main">
  <h1>{{create ? "Create" : "Edit"}} Company</h1>
  <ul class="errors" role="alert" *ngIf="errors">
    <li *ngFor="let error of errors">{{error.message}}</li>
  </ul>

  <form name="save{className}" (ngSubmit)="save()">
    <fieldset class="form">
      <fieldset class="form">
        <div class="fieldcontain required mdl-textfield mdl-js-textfield">
          <label for="name">Name
            <span class="required-indicator">*</span>
          </label>
          <input class="mdl-textfield__input" required="" name="name" id="name" [(ngModel)]="company.name" type="text"/>
        </div>
        <div class="fieldcontain required mdl-textfield mdl-js-textfield">
          <label for="registrationNo">Registration No
            <span class="required-indicator">*</span>
          </label>
          <input class="mdl-textfield__input" required="" name="registrationNo" id="registrationNo" [(ngModel)]="company.registrationNo" type="text"/>
        </div>
        <div class="fieldcontain required mdl-textfield mdl-js-textfield">
          <label for="address1">Address1
            <span class="required-indicator">*</span>
          </label>
          <input class="mdl-textfield__input" required="" name="address1" id="address1" [(ngModel)]="company.address1" type="text"/>
        </div>
        <div class="fieldcontain mdl-textfield mdl-js-textfield">
          <label for="address2">Address2</label>
          <input class="mdl-textfield__input" name="address2" id="address2" [(ngModel)]="company.address2" type="text"/>
        </div>
        <div class="fieldcontain required mdl-textfield mdl-js-textfield">
          <label for="city">City
            <span class="required-indicator">*</span>
          </label>
          <input class="mdl-textfield__input" required="" name="city" id="city" [(ngModel)]="company.city" type="text"/>
        </div>
        <div class="fieldcontain required mdl-textfield mdl-js-textfield">
          <label for="state">State
            <span class="required-indicator">*</span>
          </label>
          <input class="mdl-textfield__input" required="" name="state" id="state" [(ngModel)]="company.state" type="text"/>
        </div>
        <div class="fieldcontain required mdl-textfield mdl-js-textfield">
          <label for="country">Country
            <span class="required-indicator">*</span>
          </label>
          <input class="mdl-textfield__input" required="" name="country" id="country" [(ngModel)]="company.country" type="text"/>
        </div>
        <div class="fieldcontain required mdl-textfield mdl-js-textfield">
          <label for="officePhone">Office Phone
            <span class="required-indicator">*</span>
          </label>
          <input class="mdl-textfield__input" required="" name="officePhone" id="officePhone" [(ngModel)]="company.officePhone" type="text"/>
        </div>
        <div class="fieldcontain required mdl-textfield mdl-js-textfield">
          <label for="yardPhone">Yard Phone
            <span class="required-indicator">*</span>
          </label>
          <input class="mdl-textfield__input" required="" name="yardPhone" id="yardPhone" [(ngModel)]="company.yardPhone" type="text"/>
        </div>
        <div class="fieldcontain required mdl-textfield mdl-js-textfield">
          <label for="companyImgUrl">Company Img Url
            <span class="required-indicator">*</span>
          </label>
          <input class="mdl-textfield__input" required="" name="companyImgUrl" id="companyImgUrl" [(ngModel)]="company.companyImgUrl" type="text"/>
        </div>
        <div class="fieldcontain required mdl-textfield mdl-js-textfield">
          <label for="code">Code
            <span class="required-indicator">*</span>
          </label>
          <input class="mdl-textfield__input" required="" name="code" id="code" [(ngModel)]="company.code" type="text"/>
        </div>
      </fieldset>
    </fieldset>
    <fieldset class="buttons">
      <input type="submit" class="save" [value]="create ? 'Save' : 'Update'"/>
    </fieldset>
  </form>
</div>