<form name="addConsignment{className}" (ngSubmit)="addConsignment()">


  <div id="persist-consignment" class="content scaffold-edit row" role="main">
    <div class="col-xs-12 ">
      <div class="modal-header">
        <h1>{{create ? "Create" : "Edit"}} Consignment</h1>
      </div>
      <div class="modal-body">
        <ul class="errors" role="alert" *ngIf="errors">
          <li *ngFor="let error of errors">{{error.message}}</li>
        </ul>
        <div class="form-group">
          <label for="containerNo">Container No
            <span class="required-indicator">*</span>
          </label>
          <input class="form-control" required="" name="containerNo" id="containerNo" [(ngModel)]="consignment.containerNo" type="text"/>
        </div>
        <div class="form-group">
          <label for="name">Name
            <span class="required-indicator">*</span>
          </label>
          <input class="form-control" required="" name="name" id="name" [(ngModel)]="consignment.name" type="text"/>
        </div>
        <div class="form-group">
          <label for="type">Type
            <span class="required-indicator">*</span>
          </label>
          <select class="form-control" required="" name="type" id="type" [(ngModel)]="consignment.type">
            <option value="OT">OT</option>
            <option value="Flat Rack">Flat Rack</option>
            <option value="Reefer">Reefer</option>
            <option value="HQ">HQ</option>
            <option value="GP">GP</option>
          </select>
        </div>
        <div class="form-group">
          <label for="acceptTime">Accept Time
            <span class="required-indicator">*</span>
          </label>
          <input class="form-control" required="" name="acceptTime" id="acceptTime" type="date" placeholder="YYYY-MM-DD"
                 [value]="consignment.acceptTime | date:'y-MM-dd'"
                 (change)="consignment.acceptTime = $event.target.valueAsDate"/>
        </div>
        <div class="form-group">
          <label for="consignmentCode">Consignment Code
            <span class="required-indicator">*</span>
          </label>
          <input class="form-control" required="" name="consignmentCode" id="consignmentCode" [(ngModel)]="consignment.consignmentCode" type="text"/>
        </div>
        <div class="form-group">
          <label for="status">Status
            <span class="required-indicator">*</span>
          </label>
          <select required="" name="status" id="status" [(ngModel)]="consignment.status">
            <option value="Ready to Collect">Ready to Collect</option>
            <option value="Pending">Pending</option>
            <option value="Container Damaged">Container Damaged</option>
            <option value="Enroute to Depot">Enroute to Depot</option>
            <option value="Arrived at Customer Location">Arrived at Customer Location</option>
            <option value="Uncouple at Customer Location">Uncouple at Customer Location</option>
            <option value="Container Rejected">Container Rejected</option>
            <option value="Loading at Customer Location">Loading at Customer Location</option>
            <option value="Loading at Port">Loading at Port</option>
          </select>
        </div>
        <div class="form-group">
          <label for="taskType">Task Type
            <span class="required-indicator">*</span>
          </label>
          <select class="form-control" required="" name="taskType" id="taskType" [(ngModel)]="consignment.taskType">
            <option value="Laden">Laden</option>
            <option value="Drop Off">Drop Off</option>
          </select>
        </div>
        <div class="form-group">
          <label for="size">Size
            <span class="required-indicator">*</span>
          </label>
          <!--<input  type="text"/>-->
          <select class="form-control" required="" name="size" id="size" [(ngModel)]="consignment.size">
            <option value="20\'/40'">20'/40'</option>
            <option value="20\'">20'</option>
          </select>
        </div>
      </div>

      <div class="modal-footer">
        <input type="submit" class="save btn btn-primary" [value]="create ? 'Save' : 'Update'"/>
      </div>
    </div>
  </div>
</form>
