<div class="row">

  <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
    <h1 >Forget Password</h1>

    <form [formGroup]="credentials" (ngSubmit)="requestReset(credentials)">
      <div class="form-group" [ngClass]="credentials.get('email').valid ? 'has-success' : 'has-danger'">
        <label for="email">Email</label>
        <input class="form-control" type="email" id="email" formControlName="email" [ngClass]="credentials.get('email').valid ? 'is-valid' : 'is-invalid'" />
        <div *ngIf="credentials.get('email').hasError('required')" class="invalid-feedback">
          Required
        </div>
        <div *ngIf="!credentials.get('email').valid" class="invalid-feedback">
          Invalid email
        </div>
      </div>

      <button class="btn btn-primary" type="submit">
        Request Reset
      </button>
    </form>
  </div>
</div>