<div class="nav" role="navigation">
  <ul>
    <li><a [routerLink]="['/index']" class="home">Home</a></li>
    <li *ngIf="permission?.authority == 'Manager' || permission?.authority == 'Super Admin'"><a [routerLink]="['/transportRequest','create']" class="create">New
      TransportRequest</a></li>
  </ul>
</div>
<div id="list-transportRequest" class="content scaffold-list" role="main">
  <h1>TransportRequest List</h1>
  <div class="table-responsive">
    <table class="table">
      <thead>
      <tr>
        <th>Id</th>
        <th>Type</th>
        <th>Equipment</th>
        <th>Terminal</th>
      </tr>
      </thead>
      <tbody>
      <tr [ngClass]="{'even': e, 'odd': !e}" *ngFor="let transportRequest of transportRequestList; let e = even;">
        <td>
          <a [routerLink]="['/transportRequest','show',transportRequest.id]">{{transportRequest.id}}</a>
        </td>
        <td>
          <span>{{transportRequest.type}}</span>
        </td>
        <td>
          <span>{{transportRequest.equipment}}</span>
        </td>
        <td>
          <span *ngIf="transportRequest.terminal">{{transportRequest.terminal.name}}</span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<app-pagination [offset]="offset" [limit]="limit" [size]="count" (pageChange)="onPageChange($event)"></app-pagination>
